<h1>Home</h1>
<p>Home Page</p>
<h4>This page gives details about home page only</h4>
<%= link_to 'About', welcome_about_path %>
<%= link_to 'About', welcome_about_path %>
<%= link_to 'New Article', new_article_path %>
